<div class="d-flex justify-content-start logo-container">
  <img src="/assets/images/Logo.svg" alt="Logo" class="logo-img">
  <button (click)="openModalList()" class="btn btn-secondary  list-button"> My List</button>
</div>

<app-watch-later
  [modalListVisible]="modalListVisible"
  [watchLaterList]="watchLaterList"
  (closeModalList)="closeModalList()">
</app-watch-later>

<div class="d-flex flex-column align-items-center text-center hero-title">
  <h1>What movie <br> are you looking for?</h1>
  <p>Type the name you are looking for and filter by preferences</p>
</div>

<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-search">
      <div class="input-container">
        <input type="text" name="search" formControlName="search" placeholder="Browse..." class="textbox-search"/>
      </div>
        <button type="submit" class="btn btn-secondary search-button">Search</button>
    </form>
</div>

<!--Filters-->
<div class="filter-container">
  
  <div>
    <select class="sortSelect  filter-list shadow" (change)="onSortChange(sortSelect.value)" #sortSelect>
      <option value="none">No order</option>
      <option value="asc">newest first</option>
      <option value="desc">Lastest first</option>
    </select>
  </div> 

  <div>
    <select class="genreSelect filter-list shadow" (change)="onGenreChange(genreSelect.value)" #genreSelect>
      <option value="all">All</option>
      <option *ngFor="let genre of availableGenres" [value]="genre">{{ genre }}</option>
    </select>
  </div>
</div> 

<div *ngIf="!isLoading && paginatedMovies.length > 0 ; else noResults">
    
  <div class="cards-container mt-5 p-5">
    <div
      class="mb-4 px-2"
      *ngFor="let movie of paginatedMovies"
      >
      <div class="movie-card shadow" (click)="openModal(movie)">
        <img class="card-img-top" [src]="movie.Poster" [alt]="movie.Title" />
      </div>
    </div>
  </div>

    <app-pagination
        [currentPage]="currentPage"
        [totalResults]="totalResults"
        (pageChanged)="goToPage($event)">
    </app-pagination>

    <app-movie-details
        [visible]="ModalVisible"
        [movie]="selectedMovie"
        (closeModal)="closeModal()"
        (addToWatchLater)="addToWatchLater(selectedMovie)">
    </app-movie-details>   
    
</div>

<div class="d-flex justify-content-center mt-5" *ngIf="isLoading">
  <div class="spinner"></div>
</div>
<ng-template #noResults>
  <div *ngIf="hasSearched && !isLoading" class="d-flex justify-content-center">
    <p class="not-found mx-5 mt-5">We didn't find any results for that name.
    Even the Force couldn't help us this time. Try something different so we can help you find out <b>what the movie is.</b></p>
  </div>
</ng-template>