<div class="modal fade show d-block" tabindex="-1" [ngClass]="{'show':visible}" style="background-color: rgba(0, 0, 0, 0.5);" *ngIf="visible">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        
        <div class="modal-content">

            <header class="modal-header d-flex justify-content-between align-items-center px-3 py-2">
                    <button class="btn btn-secondary" (click)="close()">Go back</button>
                    <div class=" title-container flex-grow-1 text-center">
                        <h5 class="modal-title p-1">What the movie</h5>
                    </div>
                    <button class="btn btn-secondary" (click)="addToList()">Watch Later</button>
            </header>

            <div class="modal-body d-flex flex-column flex-md-row gap-3 justify-content-center">
                
                <img [src]="movie?.Poster" class="rounded shadow mx-auto"/>

                <div class="movie-info d-flex flex-column">
                    
                    <div class="d-flex flex-wrap">
                        <h3>{{movie.Title}}</h3>
                        <p >{{ movie?.Plot }}</p>
                    </div>


                    <div class="mb-3 d-flex flex-wrap">
                        <span class="px-2 me-2 mt-2" title="Year">{{ movie?.Year }}</span>
                        <span class="px-2 me-2 mt-2" title="Genre"
                        *ngFor="let genre of movie?.Genre?.split(',')">{{ genre.trim()}}</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>