.modal-title{
    border-radius: 40px;
    background-color: #555151 ;
    
}

.modal-title h3{
    color: #FFFFFF;
}

.modal-content{
    background-color: #252525;
}

h5, h3, p{
    color: #FFFFFF;
}

header{
    border-bottom: none !important;
}

span{
    color: #434343;
    border-radius: 40px;
    background-image: linear-gradient(to bottom, #CDCDCD, #FFFFFF );
    
}